#tech {
  width: 60%;
  margin: 0 auto;

  .skills-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  h1 {
    color: white;
    font-size: 3rem;
    padding-top: 3rem;
  }

  .scroll-top {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    span {
      font-size: 0.6rem;
    }
  }
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  #tech {
    width: 90%;

    h1 {
      text-align: center;
    }
  }
}
