$primary-color: white;
$background-color: #374850;
$card-text-color: #374850;

//brand colors
$react-color: #00d8ff;
$node-color: #6cc24a;
$sass-color: #c69;
$css3-color: #0074d9;
$mongodb-color: #589636;
$js-color: #f7df1e;
