@import "../src/styles/variables";
@import url("https://fonts.googleapis.com/css?family=Reem+Kufi|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i");

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: $background-color;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
